*,
body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  outline-style: none;
}

.p-sticky {
  position: sticky;
}

html {
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.div-twt-one {
  min-height: 45vw;
  -webkit-box-pack: center;
  justify-content: center;
  flex: 2;
}

.div-twt-two {
  min-height: 45vh;
  overflow: hidden;
  flex: 1;
  width: 100vw;
  z-index: 35;
}

.link {
  text-decoration: none;
  color: #1da1f2;
  margin-left: 10px;
  width: 100%;
  height: 100%;
}

.link:hover {
  color: #1a8cd8;
}

.link-user {
  text-decoration: none;
  color: #000000;
  margin-left: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  height: 70px;
  align-items: center;
  background: #f7f9f9;
  align-items: center;
  margin-left: 15px;
}

.link-user:hover {
  color: #272c30;
  background-color: #e7e7e8;
}

@media (max-width: 488px) {
  .none {
    display: none;
  }
}

@media (max-width: 1005px) {
  .none-right {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .div-twt-two {
    flex: 1;
    display: none;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin: 30px auto;
  }
  .div-twt-one {
    flex: 1;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    margin: 120px auto;
  }
  .twitter-logo {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .div-twt-two {
    display: none;
  }
  .div-twt-one {
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}

@media (max-width: 1280px) {
  .margin {
    margin: 0;
  }

  .col-3 {
    width: 68px;
  }

  .none-big {
    display: none;
  }

  .center {
    align-content: center;
    justify-content: center;
    border-radius: 2px solid #1da1f2;
  }
}

.form-container-mx-w-600 {
  max-width: 600px;
  margin-right: 0;
  margin-left: 0;
  z-index: 1;
}

.compose-tweet-form {
  border: 0;
  border-radius: 0;
  padding-left: 70px;
}

.input-text {
  padding-left: 40px;
  border-style: none;
  font-size: 18px;
  outline: none !important;
}

input[type=text]:focus, 
[contenteditable].form-control:focus {
  box-shadow: 0 0 0 #ddd;
  outline: none !important;
  border-top-style: hidden;
  outline-width: 0;
  border-right-style: hidden;
  border-left-style: hidden;
  border-style: none;
  pointer-events: none;
}

input[type=text]:not(:focus) {
  box-shadow: 0 0 0 #ddd;
  outline: none !important;
  border-top-style: hidden;
  outline-width: 0;
  border-right-style: hidden;
  border-left-style: hidden;
  border-style: none;
}

.container-profile-page {
  background: #ffffff;
  border-left: 0.5px solid rgba(211, 211, 211, 0.277);
  border-right: 0.5px solid rgba(211, 211, 211, 0.277);
  border-bottom: 0.5px solid rgba(211, 211, 211, 0.277);
}


