@media (max-width: 488px) {
  .none{ 
    display: none;
  }
}

@media (max-width: 1280px) {
  .none-big {
    display: none;
  }
  
  .center {
    align-content: flex-end;
    justify-content: center;
    border-radius: 2px solid #1DA1F2;
  }
}

