.link {
  text-decoration: none;
  color: #1DA1F2;
  margin-left: 10px;
  width: 100%;
  height: 100%;
}

.link:hover {
  color: #1a8cd8;
}

.link-user {
  text-decoration: none;
  color: #000000;
  margin-left: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  height: 70px;
  align-items: center;
  background: #f7f9f9;
  align-items: center;
  margin-left: 15px;
}

.link-user:hover {
  color: #272c30;
  background-color: #e7e7e8;
}

@media (max-width: 488px) {
  .none{ 
    display: none;
  }
}

@media (max-width: 1280px) {
  .none-big {
    display: none;
  }
  
  .center {
    align-content: flex-end;
    justify-content: center;
    border-radius: 2px solid #1DA1F2;
  }
}

